<nav>
    <ol>
        <li>
            <a href="{{ url_for('index') }}">Список статтей</a>
        </li>
        {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('logout') }}">Вихід</a>
            </li>
            <li>
                <a href="{{ url_for('add_post') }}">Створити статтю</a>
            </li>
            <li>
                <a href="{{ url_for('add_post_form') }}">Створити статтю (Flask Form)</a>
            </li>
        {% else %}
            <li>
                <a href="{{ url_for('sign_up') }}">Реєстрація</a>
            </li>
            <li>
                <a href="{{ url_for('sign_in') }}">Вхід</a>
            </li>
            <li>
                <a href="{{ url_for('sign_up_form') }}">Реєстрація (Flask Form)</a>
            </li>
            <li>
                <a href="{{ url_for('sign_in_form') }}">Вхід (Flask Form)</a>
            </li>
        {% endif %}
    </ol>
</nav>